# Deny specific filenames
<FilesMatch "^(chapters\.txt|downloaded\.txt|update-chapters\.txt|.*\.py)$">
    Require all denied
</FilesMatch>

Options +Indexes

# Ignore any folder named "source" from directory listings
IndexIgnore source
